<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Webpack 4.8 Boilerplate</title>
  <meta name="description" content="This is a simple webpack (4.+) boilerplate. It's intention is to reduce time with webpack setup.">
  <meta name="keywords" content="webpack, html, js, es6, css">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta name="language" content="en">
</head>

<body>
  <header>
    <h1>Webpack 4.8 Boilerplate - testing demo page</h1>
  </header>

  <p>This is a simple webpack (4.8) boilerplate. It's intention is to reduce time with new project basic webpack/stuff-compilation setup.</p>

  <img src="images/webpack-logo.png" alt="Webpack logo">

  <footer>
    <p>put together by: <a href="http://www.crioarts.sk" target="_blank">Juraj Kopacka</a></p>
  </footer>
</body>

</html>